/* Trong main.css */
.shopee__top {
  background: linear-gradient(-180deg, #f53d2d, #f63);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 11.9rem;
  color: var(--white);
}

.shopee__top--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 0 0.4rem;
  position: relative;
  display: inline-block;
  line-height: 3.4rem;
}

.navbar__item:hover .sub-navbar,
.sub-navbar:hover {
  display: flex;
  flex-direction: column;
  opacity: 2;
}

.navbar__item:not(:first-child)::before {
  content: "|";
  opacity: 0.5;
  margin-right: 0.8rem;
}

.navbar__item:not(:first-child)::before:hover {
  opacity: 1;
}

.sub-navbar {
  width: 19rem;
  position: absolute;
  left: 2rem;
  top: 3.4rem;
  background: #fff;
  color: var(--text);
  box-shadow: var(--shadow);
  display: none;
  border-radius: 0.4rem;
  z-index: 1000;
}

.sub-navbar__img {
  width: 7rem;
  display: inline-block;
}

.sub-navbar-dw .sub-navbar-dw__app {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5rem 0.8rem;
}

.sub-navbar-dw__item-app {
  height: 2.4rem;
}

.navbar__social {
  display: inline-block;
  line-height: 3.4rem;
  font-size: 1.7rem;
}

.navbar__link-item {
  padding: 0 0.8rem;
  position: relative;
  display: inline-block;
  line-height: 3.4rem;
}

.shopee__top--logo {
  padding-right: 4rem;
}

.navbar__link-item .navbar__icon {
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 0.2rem;
  position: relative;
  top: 0.2rem;
}

.navbar__notification-icon {
  font-size: 1.8rem;
}

.navbar__language .navbar__icon {
  font-size: 1.4rem;
}

.navbar__sign-in::after {
  content: "|";
  opacity: 0.5;
  margin-left: 0.8rem;
}

.navbar__authentication .navbar__link-item {
  padding: 0 0.2rem;
}

.header {
  padding: 0.8rem 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.5rem;
}

.header__logo {
  width: 18rem;
  height: 7.5rem;
}

.header__seacrh-wrapper {
  width: 84rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header__search {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header__search-form {
  width: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.header__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.3);
}

.header__search-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  bottom: 0.8rem;
  width: 6rem;
  border: none;
  background: #fb5533;
  color: var(--white);
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.header__search-btn:hover {
  background: #fb6445;
}

.header__search-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 2rem;
  overflow: hidden;
  font-size: 1.2rem;
  gap: 1rem;
  width: 100%;
}

.header__search-item:hover {
  color: rgba(255, 255, 255, 0.5);
}

.header__cart__wrapper {
  width: 5.2rem;
  height: 5.6rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header__cart-icon {
  font-size: 2.6rem;
}

/* BANNER HOMEPAGE */

.slider {
  position: relative;
  width: 80rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
}

.slider:hover .prev,
.slider:hover .next {
  display: block;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.slider-wrapper a {
  flex: 0 0 100%; /* mỗi ảnh chiếm 100% khung */
  height: 100%;
}

.slider-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Nút điều hướng */
.prev,
.next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
  animation: fadein 0.5s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

/* Dấu chấm */
.dots {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.5rem;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background: #ff5722;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 11.9rem;
  padding-top: 3rem;
  background-color: #fff;
}

.banner__wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.banner-secondary {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  gap: 0.4rem;
}

.banner-secondary .banner-secondary__item {
  flex: 1;
  width: 100%;
}

.banner-secondary .banner-secondary__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.other-banner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 3rem;
  justify-content: space-around;
}

.other-banner__item {
  width: 15rem;
  height: 10.8rem;
}

.other-banner__item {
  text-align: center;
  cursor: pointer;
}

.other-banner__item:hover {
  transform: translateY(-0.8rem);
}

.other-banner__item a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.other-banner__item img {
  width: 4.5rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.other-banner__item p {
  width: 15rem;
  text-align: center;
  font-size: 1.3rem;
  white-space: pre-line;
}

.danhmuc {
  overflow-y: auto;
  margin-top: 2rem;
  background: #fff;
}

.danhmuc-tieude {
  font-size: 1.6rem;
  padding: 1.6rem 0;
  border-bottom: 0.1rem solid #eee;
  margin-left: 1.5rem;
  color: #0000008a;
}

.danhmuc-homepage {
  display: grid;
  grid-template-columns: repeat(14, 1fr); /* 10 cột mỗi hàng */
}

.danhmuc-homepage-item {
  width: 12rem;
  height: 15rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.danhmuc-homepage-item:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
}

.danhmuc-homepage-item-icon img {
  width: 8.3rem;
  height: 8.3rem;
  object-fit: contain;
  margin-bottom: 0.8rem;
  border-radius: 50%;
  background: #f9f9f9;
}

.danhmuc-homepage-item-title {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #000c;
}

.flash-sale {
  margin-top: 2rem;
  background: #fff;
}

.flash-sale__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 1.5rem 2rem;
}

.flash-sale-title__wrap {
  display: flex;
  align-items: center;
}

.flash-sale img {
  width: 13rem;
  height: 3rem;
  margin-right: 1rem;
}

.countdown {
  display: flex;
  gap: 0.5rem;
}

.countdown span {
  background: #000;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  min-width: 2rem;
  text-align: center;
}

.view-all {
  font-size: 1.4rem;
  color: red;
  font-weight: normal;
}

.view-all:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flash-sale__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  padding: 1rem;
}

.flash-sale__item {
  border-radius: 0.8rem;
  background: #fff;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 1.5rem;
}

.flash-sale__item-img {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.flash-sale__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flash-sale__item-type {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  background: #ff5722;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
}

.flash-sale__item-sale {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: #ffd600;
  color: #d32f2f;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  font-weight: bold;
}

.flash-sale__item-price {
  padding: 1rem;
  text-align: center;
}

.flash-sale__item-current-price {
  color: #d32f2f;
  font-size: 1.8rem;
  font-weight: bold;
}

.flash-sale__item-original-price {
  color: #999;
  font-size: 1.2rem;
  text-decoration: line-through;
}

.flash-sale__item-stock {
  padding: 0 1rem 1rem;
}

.flash-sale__item-stock-bar {
  width: 100%;
  height: 0.8rem;
  background: #f1f1f1;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

.flash-sale__item-stock-fill {
  height: 100%;
  background: linear-gradient(to right, #ff5722, #ff9800);
}

.flash-sale__item-stock-text {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}

.mall-homepage {
  background-color: #fff;
  margin-top: 2rem;
}

.mall-homepage__header,
.mall-homepage__header-left,
.mall-header__list {
  display: flex;
  justify-content: space-between;
  height: 3.75rem;
  align-items: center;
}

.mall-homepage__header {
  padding: 0 2rem;
  height: 6rem;
}

.mall-title {
  font-size: 1.7rem;
  color: #d0071b;
}

.mall-header__item:first-child::before {
  content: "|";
  opacity: 0.4;
  color: #000;
  margin: 0 1.6rem;
}

.mall-header__list {
  gap: 1.6rem;
}

.mall-header__item {
  font-size: 1.6rem;
  color: #333;
}

.mall-header__icon {
  font-size: 1.6rem;
  color: red;
  margin-right: 0.6rem;
}

.mall-header__view-all {
    font-size: 1.4rem;
    color: red;
    font-weight: bold;
}

.mall-header__view-all .mall-header__icon {
    margin-left: 0.8rem;
}

.mall-wrap__main {
    padding: 1rem 0 0 1rem;
}

.mall-wrap__main-img {
    width: 39rem;
    height: 46rem;
}