.shopee__top {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 11.9rem;
    color: var(--white);
}

.navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    font-size: 1.3rem;
}

.navbar__wrapper {
    display: flex; 
    align-items: center; 
}

.navbar__item {
    padding: 0 0.4rem;
    position: relative;
    display: inline-block;
    line-height: 3.4rem;
}

.navbar > .navbar__item:hover,
.navbar__link-item:hover {
    opacity: 0.7;
}

.navbar__item:hover .sub-navbar,
.sub-navbar:hover {
    display: flex;
    flex-direction: column;
}

.navbar__item:not(:first-child)::before {
    content: "|";
    opacity: 0.5;
    margin-right: 0.8rem;
}

.navbar__item:not(:first-child)::before:hover {
    opacity: 1;
}

.sub-navbar {
    width: 19rem;
    position: absolute;
    left: 2rem;
    top: 3.4rem;
    background: #fff;
    color: var(--text);
    box-shadow: var(--shadow);
    display: none;
    border-radius: 0.4rem;
    z-index: 1000;
}

.sub-navbar__img {
    width: 7rem;
    display: inline-block;
}

.sub-navbar-dw .sub-navbar-dw__app {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem 0.8rem;
}

.sub-navbar-dw__item-app {
    height: 2.4rem;
}

.navbar__social {
    display: inline-block;
    line-height: 3.4rem;
    font-size: 1.7rem;
}

.navbar__link-item {
    padding: 0 0.8rem;
    position: relative;
    display: inline-block;
    line-height: 3.4rem;
}

.shopee__top--logo {
    padding-right: 4rem;
}

.navbar__link-item .navbar__icon {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 0.2rem;
    position: relative;
    top: 0.2rem;
}

.navbar__notification-icon {
    font-size: 1.8rem;
}

.navbar__language .navbar__icon {
    font-size: 1.4rem;
}

.navbar__sign-in::after {
    content: "|";
    opacity: 0.5;
    margin-left: 0.8rem;
}

.navbar__authentication .navbar__link-item {
    padding: 0 0.2rem;
}

.header {
    padding: 0.8rem 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.5rem;
}

.header__logo {
    width: 18rem;
    height: 7.5rem;
}

.header__seacrh-wrapper {
    width: 84rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.header__search {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header__search-form {
    width: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}

.header__input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.3);
}

.header__search-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    bottom: 0.8rem;
    width: 6rem;
    border: none;
    background: #fb5533;
    color: var(--white);
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.header__search-btn:hover {
    background: #fb6445;
}

.header__search-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 20px;
    overflow: hidden;
    font-size: 1.2rem;
    gap: 1rem;
    width: 100%;
}

.header__cart__wrapper {
    width: 5.2rem;
    height: 5.6rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header__cart-icon {
    font-size: 2.6rem;
}